<!DOCTYPE HTML>
<html>
<head>
<title>Signin | Framework</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href="/static/demo/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<!-- header -->
<div class="header">
	<div class="wrap">
		<div class="logo">
			<a href="/"><img src="/static/demo/web/images/logo.png" alt=""/></a>
		</div>
		<div class="signin">
			<ul>
				<li><a href="/login">Signin</a></li>
				<li class="a"><h6>or</h6></li>
				<li class="b"><a href="#">Signup</a></li>
				<div class="clear"> </div>
			</ul>
		</div>
		<div class="clear"> </div>
    </div>
</div>
<!-- start main -->
<div class="main_bg">
<div class="wrap">
<div class="main">
	<div class="login_left">
		<h3>new customers</h3>
		<p>By creating an account ....</p>
		<div class="btn">
			<form>
				<input type="button"  value="create an account" />
			</form>
		</div>
	</div>
	<div class="login_left">
		<h3>registered customers</h3>
		<p>if you have any account with us, please log in.</p>
	<!-- start registration -->
	<div class="registration">
	<div class="registration_left">
		<a href="/login/organization"><div class="reg_fb"><img src="/static/demo/web/images/itsyouonline.png" alt=""><i>sign in using It's You Online</i><div class="clear"></div></div></a>
	</div>
	</div>
	<!-- end registration -->
	</div>
	<div class="clear"></div>
</div>
</div>
</div>
<div class="footer-bottom">
<div class="wrap">
   <div class="copy-right">
		 <p>Copyright 2014. All Rights Reserved</p>
   </div>
	<div class="copy">
		 <p>Template by <a href="http://w3layouts.com">w3layouts</a></p>
   </div>
</div>
</div>
</body>
</html>
