<h3 matSubheader>Organizations</h3>
<a mat-button mat-raised-button [routerLink]="'/itsyouonlinesettings/organizations/create'">
  {{ 'iyo.add_organization' | translate }}
</a>
<mat-nav-list fxLayout="column" fxFlex="40" fxFlex.md="60" fxFlex.xs="100">
  <mat-list-item *ngFor="let organization of (organizations$ | async)"
                [routerLink]="'/itsyouonlinesettings/organizations/' + organizationId(organization)">
    <h4 matLine>{{ organization.name }}</h4>
    <p matLine>{{ organization.id }}</p>
    <button mat-icon-button (click)="deleteOrganization(organization)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>
