<form (ngSubmit)="save(organization)" #organizationForm="ngForm">
  <div fxLayout="column" fxFlex="40" fxFlex.md="60" fxFlex.xs="100">
    <mat-form-field>
      <input matInput [(ngModel)]="organization.name" name="newOrganizationName"
             [placeholder]="'iyo.organization_name' | translate" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="organization.id" name="organization_id"
             [placeholder]="'iyo.organization_id' | translate"
             required [disabled]="!isNew" pattern="^[a-z\d\-_\s]{3,150}$">
    </mat-form-field>
    <h3>{{ 'iyo.modules' | translate }}</h3>
    <mat-chip-list #moduleChips>
      <mat-chip *ngFor="let module of organization.modules" (removed)="showConfirmRemoveModule(module)">
        {{ module }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <mat-form-field>
      <input matInput
             [formControl]="addModuleFormControl"
             [placeholder]="'iyo.new_module' | translate"
             [matChipInputFor]="moduleChips"
             (matChipInputTokenEnd)="addModuleInput($event)"/>
    </mat-form-field>

    <h3>{{ 'iyo.auto_connected_services' | translate }}</h3>
    <mat-chip-list #acsChips>
      <mat-chip *ngFor="let acs of organization.auto_connected_services" color="primary"
                (removed)="showConfirmRemoveACS(acs)">
        {{ acs }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <mat-form-field>
      <input matInput type="email"
             [formControl]="addAcsFormControl"
             placeholder="{{ 'iyo.new_auto_connected_service' | translate }}"
             [matChipInputFor]="acsChips"
             (matChipInputTokenEnd)="addAutoConnectedInput($event)"/>
    </mat-form-field>
    <h3>{{ 'iyo.roles' | translate }}</h3>
    <mat-list>
      <mat-list-item *ngFor="let role of organization.roles">
        <h4 matLine>{{ 'iyo.service' | translate }}: {{ role.service }}</h4>
        <p matLine>{{ 'iyo.identity'| translate }}: {{ role.identity }}</p>
        <p matLine class="demo-secondary-text">{{ 'iyo.role_ids_x' | translate:{ids:role.ids} }}</p>
        <button mat-icon-button (click)="removeRole(role)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-form-field>
      <input matInput name="newRoleService" [(ngModel)]="newRole.service" type="email"
             placeholder="{{ 'iyo.service' | translate }}"
             [email]="true"
             #newRoleServiceElem="ngModel"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="newRoleIdentity" [(ngModel)]="newRole.identity"
             placeholder="{{ 'iyo.identity' | translate }}"
             #newRoleIdentityElem="ngModel"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="newRoleIds" [(ngModel)]="newRoleIds"
             placeholder="{{ 'iyo.role_ids' | translate }}"
             #newRoleIdsElem="ngModel"/>
    </mat-form-field>
    <div fxLayoutAlign="end center">
      <button type="button" mat-button mat-raised-button (click)="addRole();"
              [disabled]="!newRole.service || !newRole.identity ||  !newRoleServiceElem.valid || !newRoleIdentityElem.valid">
        {{ 'iyo.add_role' | translate }}
      </button>
    </div>
  </div>
  <br/>
  <div>
    <button mat-button mat-raised-button color="primary" [disabled]="!organizationForm.form.valid">
      {{ (isNew ? 'iyo.add_organization' : 'iyo.update_organization') | translate}}
    </button>
    <p *ngIf="status">{{ status | translate }}</p>
  </div>
</form>
