<form (submit)="save(organization)" #organizationForm="ngForm">
  <div fxLayout="column" fxFlex="40" fxFlex.md="60" fxFlex.xs="100">
    <md-form-field>
      <input mdInput [(ngModel)]="organization.name" name="newOrganizationName"
             [placeholder]="'iyo.organization_name' | translate" required>
    </md-form-field>

    <md-form-field>
      <input mdInput [(ngModel)]="organization.id" name="organization_id"
             [placeholder]="'iyo.organization_id' | translate"
             required [disabled]="!isNew" pattern="^[a-z\d\-_\s]{3,150}$">
    </md-form-field>
    <h3>{{ 'iyo.modules' | translate }}</h3>
    <md-chip-list #moduleChips>
      <md-chip *ngFor="let module of organization.modules" (remove)="showConfirmRemoveModule(module)">
        {{ module }}
        <md-icon mdChipRemove>cancel</md-icon>
      </md-chip>
    </md-chip-list>
    <md-form-field>
      <input mdInput
             [formControl]="addModuleFormControl"
             [placeholder]="'iyo.new_module' | translate"
             [mdChipInputFor]="moduleChips"
             (mdChipInputTokenEnd)="addModuleInput($event)"/>
    </md-form-field>

    <h3>{{ 'iyo.auto_connected_services' | translate }}</h3>
    <md-chip-list #acsChips>
      <md-chip *ngFor="let acs of organization.auto_connected_services" class="md-primary"
               (remove)="showConfirmRemoveACS(acs)">
        {{ acs }}
        <md-icon mdChipRemove>cancel</md-icon>
      </md-chip>
    </md-chip-list>
    <md-form-field>
      <input mdInput type="email"
             [formControl]="addAcsFormControl"
             placeholder="{{ 'iyo.new_auto_connected_service' | translate }}"
             [mdChipInputFor]="acsChips"
             (mdChipInputTokenEnd)="addAutoConnectedInput($event)"/>
    </md-form-field>
    <h3>{{ 'iyo.roles' | translate }}</h3>
    <md-list>
      <md-list-item *ngFor="let role of organization.roles">
        <h4 md-line>{{ 'iyo.service' | translate }}: {{ role.service }}</h4>
        <p md-line>{{ 'iyo.identity'| translate }}: {{ role.identity }}</p>
        <p md-line class="demo-secondary-text">{{ 'iyo.role_ids_x' | translate:{ids:role.ids} }}</p>
        <button md-icon-button (click)="removeRole(role)">
          <md-icon>delete</md-icon>
        </button>
      </md-list-item>
    </md-list>
    <md-form-field>
      <input mdInput name="newRoleService" [(ngModel)]="newRole.service" type="email"
             placeholder="{{ 'iyo.service' | translate }}"
             [email]="true"
             #newRoleServiceElem="ngModel"/>
    </md-form-field>
    <md-form-field>
      <input mdInput name="newRoleIdentity" [(ngModel)]="newRole.identity"
             placeholder="{{ 'iyo.identity' | translate }}"
             #newRoleIdentityElem="ngModel"/>
    </md-form-field>
    <md-form-field>
      <input mdInput name="newRoleIds" [(ngModel)]="newRoleIds"
             placeholder="{{ 'iyo.role_ids' | translate }}"
             #newRoleIdsElem="ngModel"/>
    </md-form-field>
    <div fxLayoutAlign="end center">
      <button type="button" md-button md-raised-button (click)="addRole();"
              [disabled]="!newRole.service || !newRole.identity ||  !newRoleServiceElem.valid || !newRoleIdentityElem.valid">
        {{ 'iyo.add_role' | translate }}
      </button>
    </div>
  </div>
  <br/>
  <div>
    <button md-button md-raised-button color="primary" [disabled]="!organizationForm.form.valid">
      {{ (isNew ? 'iyo.add_organization' : 'iyo.update_organization') | translate}}
    </button>
    <p *ngIf="status">{{ status | translate }}</p>
  </div>
</form>
